body{
    background-color:rgb(62, 57, 64);
    display:flex;
}
div{
    
    background-color: rgb(84, 76, 89);
    height: 80vh;
    width: 300px;
    float: right;
    margin: 10px;
    margin-top: 30px;
    border-radius:10px;
    margin-top: 30px;
    display:grid;
    border: 1px white;
    box-shadow: 10px 15px  #888888;

}
img{
    height: 30vh;
    width: 100%;
    border-radius: 5px;
}
dt{
    position: relative;
    left: 10px;
    color: white;

} 
p
{
    color: white;
}
h1{
    color: white;
}